<Component.title title="Survey Section" message="Remember to complete all fields." />

<Component.hero content={"Survey"} >
  Please fill out our survey
  <%= if @demographic do %>
    <DemographicLive.Show.details demographic={@demographic} />
  <% else %>
    <h2>Demographic Form coming soon!</h2>
  <% end %>
</Component.hero>

<Component.list items={["Item 1", "Item 2", "Item 3"]} />